$lightwhite : rgba(255,255,255,.75);
$halfwhite : rgba(255,255,255,.5);
$darkwhite : rgba(255,255,255,.25);

$lightblack : rgba(0,0,0,.25);
$halfblack : rgba(0,0,0,.5);
$darkblack : rgba(0,0,0,.75);

$lightgold : rgba(255,191,0,.75);
$halfgold : rgba(255,191,0,.5);
$darkgold : rgba(255,191,0,.25);

